$lightBlue: #91d7ff;
$blue: #0090e3;
$margin: 0.4em;

.container {
  background: $lightBlue;
  height: 100%;
}

.containerFlex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background: $blue;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.headerName {
  margin: 0.2em 0;
  margin-left: $margin;
  color: white;
}

.consoleControl {
  margin-left: $margin;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}

.autorun {
  display: flex;
  align-items: center;
  height: 0.2em;
}

.autorunLabel {
  color: white;
  margin-right: $margin;
}

.autorunCheckbox {
  margin-right: $margin;
}

.button {
  font-family: inherit;
  margin-right: $margin;
  padding: 0.2em 0.6em;
  background: none;
  border: 0.15em solid white;
  border-radius: 1em;
  color: white;
  transition: all 0.15s;
  outline: none;

  &:hover {
    color: $blue;
    background: white;
  }

  &:active {
    transform: translateY(1px);
  }
}

.outputList {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1 0 0px;
  overflow: auto;
}

.outputItem {
  padding: 0 1em;
  border-bottom: 0.1em solid $blue;
  color: #333;
}

.preOutput {
  font-size: 1.2em;
  font-family: inherit;
  margin: 0.5em 0;
}
