.console {
  height: 100%;
  overflow: auto;
  background: #91d7ff;
}

.header {
  background: #0090e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerName {
  margin: 0.2em 0;
  margin-left: 0.4em;
  color: white;
}

.clearLogButton {
  margin-right: 0.4em;
  padding: 0.2em 0.6em;
  background: none;
  border: 0.15em solid white;
  border-radius: 1em;
  color: white;
  transition: all 0.15s;
  outline: none;

  &:hover {
    color: #0090e3;
    background: white;
  }

  &:active {
    transform: translateY(1px);
  }
}

.outputList {
  list-style: none;
  padding: 0;
}

.outputItem {
  padding: 0 1em;
  border-bottom: 0.1em solid #0090e3;
  color: #333;
}
