.container {
  height: 100%;
}

.editor {
  width: 100%;
  height: 70%;
  box-sizing: border-box;
  background: #282828;
  color: rgb(0, 193, 129);
  font-family: 'Inconsolata', monospace;
  font-size: 1.5rem;
}
